/* Cleaning some default styles */
* {
    // Box model
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* General settings */
html {
    // Box model
    max-width: 100%;
    // Typography
    font-size: $root-px-size; /* 1 rem = 16px */
}
body {
    // Typography
    color: $color-font;
    font-family: $font-primary;
    line-height: toRem(22px);
    letter-spacing: 0;
}
/* Utilities */
.isButton {
    // Box model
    width: 100%;
    max-width: toRem(300px);
    padding: toRem(13px) 0;
    // Visual Properties
    background-color: $color-btn;
    white-space: nowrap;
    &:hover {
        // Visual Properties
        cursor: pointer;
    }
    // Typography
    font-size: toRem(16px);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.isFlex {
    // Layout
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.isIdiomaticText {
    // Typography
    color: $color-font;
}
.isLink {
    // Typography
    text-decoration: none;
}
.isMono {
    // Typography
    font-family: $font-secondary;
}
.isNewLine {
    // Layout
    display: block;
}
.isText {
    // Typography
    font-size: toRem(14px);
}
.isTitle {
    // Box model
    margin-bottom: toRem(16px);
    // Typography
    font-size: toRem(36px);
    font-weight: 400;
    line-height: toRem(42px);
}
.isStrikethrough {
    // Typography
    text-decoration: line-through;
}
.isSubtitle {
    // Box model
    margin-left: toRem(16px);
    // Typography
    font-size: toRem(36px);
    font-weight: 400;
    line-height: toRem(42px);
}
.isLightFont {
    // Typography
    color: $color-font-light;
}
/* Responsive */
@media screen and (min-width: $breakpoint-lg-tablet) {
    .isBlue {
        // Typography
        color: $color-dot-desktop;
    }
    .isTitle {
        // Typography
        font-size: toRem(64px);
        font-weight: 400;
    }
}
@media screen and (min-width: $breakpoint-desktop) {
    .isButton {
        // Typography
        font-size: toRem(20px);
        line-height: toRem(24px);
        // Visual Properties
        &:hover {
            // Typography
            color: $color-font-light;
            // Visual Properties
            background-image: linear-gradient(
                225deg,
                $color-btn-hover-blue 0%,
                $color-btn-hover-green 100%
            );
        }
    }
    .isFlex {
        // Layout
        flex-direction: row;
        flex-wrap: wrap;
    }
    .isText {
        // Typography
        font-size: toRem(16px);
        line-height: toRem(24px);
    }
    .isSubtitle {
        // Typography
        font-size: toRem(48px);
    }
}
