.Footer {
    // Box model
    margin: toRem(24px) 0 toRem(31px) 0;
    &-p {
        // Box model
        margin-bottom: toRem(16px);
        // Typography
        text-align: center;
    }
    &-aContainer {
        // Layout
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    /* Responsive */
    @media screen and (min-width: $breakpoint-lg-tablet) {
        // Layout
        display: flex;
        justify-content: space-between;
        align-items: center;
        // Box model
        margin: toRem(36px) toRem(100px) toRem(31px) toRem(100px);
        &-p {
            // Box model
            margin: 0;
        }
        &-aContainer {
            // Box model
            width: toRem(234px);
        }
    }
}
