footer {
    margin: 1.5rem 0 1.9375rem 0;
    p {
        /*Box Model*/
        margin-bottom: 1rem;
        /* Typography */
        text-align: center;
    }
    .container-social {
        /* Layout */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-xl) {
    footer {
        /* Layout */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*Box Model*/
        margin: 2.25rem 6.25rem 1.9375rem 6.25rem;
        p {
            margin: 0;
        }
        .container-social {
            /*Box Model*/
            width: 14.625rem;
        }
    }
}
