footer {
    margin: toRem(24px) 0 toRem(31px) 0;
    p {
        // Box model
        margin-bottom: toRem(16px);
        // Typography
        text-align: center;
    }
    .container-social {
        // Layout
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-xl) {
    footer {
        // Layout
        display: flex;
        justify-content: space-between;
        align-items: center;
        // Box model
        margin: toRem(36px) toRem(100px) toRem(31px) toRem(100px);
        p {
            margin: 0;
        }
        .container-social {
            // Box model
            width: toRem(234px);
        }
    }
}
