header {
    /* Box Model */
    width: 100%;
    .container-header {
        /* Layout */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Box Model */
        padding: 0.625rem 1.1875rem 0.625rem 1rem; /* 10px 19px 10px 16px */
    }
    .checkbox {
        /* Layout */
        position: absolute;
        /* Visual Properties */
        opacity: 0;
    }
    .bars {
        /* Animations */
        transition: opacity 0.3s linear;
    }
    .times {
        /* Layout */
        display: none;
        /* Animations */
        transition: opacity 0.3s linear;
    }
    nav {
        /* Layout */
        display: none;
        /* Box Model */
        padding: 1rem 0 0 1rem;
        /* Visual Properties */
        background-color: $color-background-blue;
        ul {
            /* Typography */
            list-style-type: none;
            li {
                /* Box Model */
                padding-bottom: 1.5625rem;
                a {
                    /* Typograpphy */
                    text-transform: uppercase;
                    line-height: 1.75rem;
                }
            }
        }
    }
}
