header {
    /* Box Model */
    width: 100%;
    .header-container {
        /* Layout */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Box Model */
        padding: 10px 19px 10px 16px;
    }
    .times {
        /* Layout */
        display: none;
    }
    nav {
        /* Layout */
        display: none;
        /* Visual Properties */
        background-color: $color-background-blue;
        ul {
            li {
                /* Box Model */
                padding: 16px 0 0 16px;
                &:last-of-type {
                    /* Box Model */
                    padding: 16px 0 24px 16px;
                }
                a {
                    /* Typograpphy */
                    color: $color-font-w;
                    font-size: 1rem;
                    text-transform: uppercase;
                    letter-spacing: 0;
                    line-height: 1.75rem;
                }
            }
        }
    }
    .checkbox {
        /* Layout */
        position: absolute;
        /* Visual Properties */
        opacity: 0;
    }
}
