#section-invitadas {
    .container-imgs {
        /* Box Model */
        margin-top: 0.875rem;
    }
    /* Box Model */
    width: 100%;
    img {
        /* Box Model */
        width: 100%;
    }
}