#intro {
    /* Box Model */
    margin: 1.8125rem 1rem 1.5rem 1rem; /* 29px 16px 24px 16px */
    .strikethrough {
        /* Typography */
        text-decoration: line-through;
    }
    p {
        /* Box Model */
        margin-bottom: 2.25rem;
    }
}