.SectionEpisodios {
    // Box model
    padding: toRem(64px) 0 toRem(143.5px) 0;
    // Visual properties
    background-color: $color-background-blue;
    background-image: linear-gradient(
        225deg,
        $color-background-blue 0%,
        $color-dark-blue 100%
    );
    clip-path: polygon(0 2.65%, 100% 0%, 100% 97.35%, 0% 100%);
    &-h2 {
        // Box model
        margin-bottom: toRem(21px);
    }
    &-iFramesContainer {
        // Box model
        width: 100%;
    }
    &-iframe {
        // Box model
        width: 93.125%;
        height: toRem(232px);
        margin-bottom: toRem(11px);
        &:last-of-type {
            // Box model
            margin-bottom: 0;
        }
    }
    /* Responsive */
    @media screen and (min-width: $breakpoint-lg-tablet) {
        &-iFramesContainer {
            // Layout
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            // Box model
            padding: 0 toRem(100px);
        }
        &-iframe {
            // Box model
            width: 47%;
            margin-bottom: toRem(72px);
            &:last-of-type {
                // Box model
                margin-bottom: toRem(72px);
            }
        }
    }
    @media screen and (min-width: $breakpoint-desktop) {
        // Box model
        padding: toRem(186px) 0 toRem(160.6px) 0;
        // Visual properties
        background-image: linear-gradient(
            225deg,
            $color-background-blue 0%,
            $color-dark-blue 100%
        );
        clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
        &-h2 {
            // Box model
            margin: 0 0 toRem(26px) toRem(200px);
        }
    }
}
