#section-temas {
    /* Box Model */
    margin: 3rem 0 2.625rem 0;
    h2 {
        margin-bottom: 1.5rem;
    }
    figure {
        /* Layout*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* Box Model */
        margin-bottom: 3.25rem;
        &:first-of-type {
            margin-bottom: 2.25rem;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        /* Typography */
        text-align: center;
        img {
            margin: 0.8125rem 0;
        }
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-xl) {
    #section-temas {
        /* Layout */
        align-items: start;
        /* Box Model */
        margin: 4rem 12.5rem 2.125rem 12.5rem;
        figure {
            /* Box Model */
            margin-bottom: 0;
            &:first-of-type {
                margin-bottom: 0;
            }
        }
        span {
            /* Layout */
            display: block;
        }
    }
}
