#section-invitadas {
    .container-imgs {
        /* Box Model */
        margin-top: 0.875rem;
    }
    /* Box Model */
    width: 100%;
    img {
        /* Box Model */
        width: 100%;
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-xl) {
    #section-invitadas {
        h2 {
            /* Box Model */
            margin: 0 0 2.25rem 12.5rem;
        }
        img {
            /* Box Model */
            width: calc(100% / 3);
        }
    }
}
