#section-venimos {
    /* Box Model */
    width: 100%;
    h2 {
        /* Layout */
        span {
            display: block;
        }
    }
    p {
        /* Box Model */
        margin: 0.5rem 1rem;
        &:last-of-type {
            margin-bottom: 3.375rem;
        }
    }
    img {
        /* Layout */
        z-index: 2;
        /* Box Model */
        margin-top: -5.96875rem;
        width: 112.5%;
    }
}
