#section-novedades {
    /* Box Model */
    padding: 0 1rem;
    /* Visual Properties */
    background-color: $color-background-blue;
    background-image: linear-gradient(
        225deg,
        $color-background-blue 0%,
        $color-dark-blue 100%
    );
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    text-align: center;
    h2 {
        /* Box Model */
        padding-top: 4rem;
    }
    button {
        /* Box Model */
        margin: 2.25rem 0 4.1875em 0;
    }
}
