#section-episodios {
    width: 100%;
    background-color: $color-background-blue;
    h2 {
        color: #ffffff;
    }
    .iframe-container {
        width: 298px;
        height: 225px;
    }
}
