#intro {
    /* Box Model */
    margin: 1.8125rem 1rem 1.5rem 1rem; /* 29px 16px 24px 16px */
    .strikethrough {
        /* Typography */
        text-decoration: line-through;
    }
    p {
        /* Box Model */
        margin-bottom: 2.25rem;
    }
    .desktop {
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-xl) {
    #intro {
        /* Box Model */
        margin: 7.5rem 0 0.3125rem 11.25rem;
        h1 {
            /* Typography */
            font-size: 4rem;
            font-weight: 400;
        }
        .title {
            /* Layout */
            display: none;
        }
        .dot {
            /* Typography */
            color: $color-desktop-dot;
        }
        .mobile {
            /* Layout */
            display: none;
        }
        .desktop {
            /* Layout */
            display: block;
        }
        p {
            /* Box Model */
            margin-bottom: 3.5rem;
        }
    }
}
