.SectionInvitadas {
    // Box model
    width: 100%;
}
.SectionInvitadas-imgContainer {
    // Box model
    margin-top: toRem(14px);
}
.SectionInvitadas-img {
    // Box model
    width: 100%;
}
/* Desktop */
@media screen and (min-width: $breakpoint-xl) {
    .SectionInvitadas-h2 {
        // Box model
        margin: 0 0 toRem(36px) toRem(200px);
    }
    .SectionInvitadas-img {
        // Box model
        width: calc(100% / 3);
    }
}
