#intro {
    // Box model
    margin: toRem(29px) toRem(16px) toRem(24px) toRem(16px); /* 29px 16px 24px 16px */
    .strikethrough {
        // Typography
        text-decoration: line-through;
    }
    p {
        // Box model
        margin-bottom: toRem(36px);
    }
    .desktop {
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-xl) {
    #intro {
        // Box model
        margin: toRem(120px) 0 toRem(5px) toRem(180px);
        h1 {
            // Typography
            font-size: toRem(64px);
            font-weight: 400;
        }
        .title {
            // Layout
            display: none;
        }
        .dot {
            // Typography
            color: $color-dot-desktop;
        }
        .mobile {
            // Layout
            display: none;
        }
        .desktop {
            // Layout
            display: block;
        }
        p {
            // Box model
            margin-bottom: toRem(56px);
        }
    }
}
