/* Fonts */
$font-primary: "IBM Plex Sans", sans-serif;
$font-secondary: "IBM Plex Mono", monospace;

/* Colors*/
$color-font: #060a24;
$color-font-w: #ffffff;
$color-active: rgba(6, 10, 36, 0.56);
$color-background-blue: #0000ff;
$color-dark-blue: #0000a3;
$color-desktop-dot: #0000ec;
$color-btn: #00f3bb;

/* Breakpoints */
$breakpoint-xs: 20em; /* 320px (mobile devices) */
$breakpoint-sm: 30em; /* 480px (iPads, tablets) */
$breakpoint-m: 48em; /* 768px (small screens, laptops) */
$breakpoint-lg: 64em; /* 1024px (large screens, desktops) */
$breakpoint-xl: 90em; /* 1440px (extra large screens, TVs) */
/* E.g. :@media screen and (max-width: $breakpoint-m) */
