/*Inheritance*/
/* Fonts */
/* Colors*/
/* Breakpoints */
/* 320px (mobile devices) */
/* 480px (iPads, tablets) */
/* 768px (small screens, laptops) */
/* 1024px (large screens, desktops) */
/* 1200px (extra large screens, TVs) */
/* E.g. :@media screen and (max-width: $breakpoint-m) */
/* Cleaning some default styles */
* {
  /* Box Model */
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  /* Default pixel size controlling ems and rems is 16px.*/
}

body {
  /* Layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Typhography */
  color: #060a24;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0;
}

body .mono {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
}

.container {
  /* Layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  /* Box Model */
  width: 100%;
}

header .header-container {
  /* Layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Box Model */
  padding: 10px 19px 10px 16px;
}

header .times {
  /* Layout */
  display: none;
}

header nav {
  /* Layout */
  display: none;
  /* Visual Properties */
  background-color: #0000ff;
}

header nav ul li {
  /* Box Model */
  padding: 16px 0 0 16px;
}

header nav ul li:last-of-type {
  /* Box Model */
  padding: 16px 0 24px 16px;
}

header nav ul li a {
  /* Typograpphy */
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1.75rem;
}

header .checkbox {
  /* Layout */
  position: absolute;
  /* Visual Properties */
  opacity: 0;
}

h2 {
  /* Box Model */
  padding: 0px 0px 0px 16px;
  /* Typhography */
  font-size: 2.25rem;
  font-weight: normal;
}

p {
  /* Typhography */
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  letter-spacing: 0;
}

a {
  /* Typhography */
  text-decoration: none;
}

#intro {
  /* Box Model */
  padding: 29px 16px 24px 16px;
}

#intro h1 {
  /* Box Model */
  padding-bottom: 16px;
  width: 100%;
  /* Typography */
  font-size: 36px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0;
}

#intro .strikethrough {
  /* Typography */
  text-decoration: line-through;
}

#intro p {
  /* Box Model */
  padding-bottom: 36px;
  /* Typography */
  line-height: 1.375rem;
}

#intro button {
  /* Box Model */
  width: 100%;
  max-width: 300px;
  padding: 13px 0px;
  /* Visual Properties */
  background-color: #00f3bb;
  /* Typography */
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

#section-episodios {
  /* Box Model */
  width: 100%;
  /* Visual Properties */
  background-color: #0000ff;
}

#section-episodios h2 {
  /* Typography */
  color: #ffffff;
}

#section-episodios .iframe-container {
  /* Box Model */
  width: 298px;
  height: 225px;
}

#section-venimos {
  /* Box Model */
  width: 100%;
}

#section-venimos img {
  /* Box Model */
  width: 360px;
}

#section-invitadas {
  /* Box Model */
  width: 100%;
}

#section-invitadas img {
  /* Box Model */
  width: 50%;
}

#section-temas {
  /* Box Model */
  width: 100%;
  /* Typography */
  text-align: center;
  font-weight: 600;
}

/* CSS Grouped by type with the folliwing order:
Inheritance
Lauyout
Box Model
Visual Properties
Typography
Others */
/*# sourceMappingURL=styles.css.map */