/* Fonts */
/* Colors*/
/* Breakpoints */
/* 320px (mobile devices) */
/* 480px (iPads, tablets) */
/* 768px (small screens, laptops) */
/* 1024px (large screens, desktops) */
/* 1440px (extra large screens, TVs) */
/* E.g. :@media screen and (max-width: $breakpoint-m) */
/* Cleaning some default styles */
* {
  /* Box Model */
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General Settings */
html {
  /* Box Model */
  max-width: 100%;
  /* Typhography */
  font-size: 16px;
  /* 1em = 16px */
}

body {
  /* Typhography */
  color: #060a24;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.375rem;
  letter-spacing: 0;
}

h1 {
  /* Box Model */
  margin-bottom: 1rem;
  width: 100%;
  /* Typography */
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.625rem;
}

h2 {
  /* Box Model */
  margin-left: 1rem;
  /* Typhography */
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.625rem;
}

a {
  /* Typhography */
  text-decoration: none;
}

button {
  /* Box Model */
  width: 100%;
  max-width: 18.75rem;
  padding: 0.8125rem 0;
  /* Visual Properties */
  background-color: #00f3bb;
  white-space: nowrap;
  /* Typography */
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

i {
  /* Typhography */
  color: #060a24;
}

p {
  /* Typhography */
  font-size: 0.875rem;
}

/* Classes */
.container-flex {
  /* Layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mono {
  /* Typhography */
  font-family: "IBM Plex Mono", monospace;
}

.light-font {
  /* Typhography */
  color: #ffffff;
}

/* Desktop */
@media screen and (min-width: 90em) {
  p {
    /* Typhography */
    font-size: 1rem;
    line-height: 1.5rem;
  }
  button {
    /* Typhography */
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  button:hover {
    color: #ffffff;
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  }
}

header {
  /* Box Model */
  width: 100%;
  /* Layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Box Model */
  padding: 0.625rem 1.1875rem 0.625rem 1rem;
  /* 10px 19px 10px 16px */
  /* Burger menu functionality */
}

header .checkbox {
  /* Layout */
  position: absolute;
  /* Visual Properties */
  opacity: 0;
}

header .times {
  /* Layout */
  position: absolute;
  top: 0.7rem;
  right: 1.3rem;
  /* Visual Properties */
  opacity: 0;
}

header nav {
  /* Layout */
  display: inline-block;
  position: absolute;
  top: 2.75rem;
  left: 0;
  /* Box Model */
  padding: 1rem 0 0 1rem;
  width: 100%;
  /* Visual Properties */
  background-color: #0000ff;
  visibility: hidden;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* Typography */
  list-style-type: none;
}

header nav ul li {
  /* Box Model */
  padding-bottom: 1.5em;
}

header nav ul li a {
  /* Typograpphy */
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.75rem;
}

header nav ul li a:hover {
  color: #00f3bb;
  text-decoration: line-through;
  cursor: pointer;
  font-weight: 500;
}

header nav ul li a:active {
  color: rgba(6, 10, 36, 0.56);
}

header input[type="checkbox"]:checked ~ .bars {
  /* Visual Properties */
  opacity: 0%;
}

header input[type="checkbox"]:checked ~ .times {
  /* Visual Properties */
  opacity: 100%;
}

header input[type="checkbox"]:checked ~ nav {
  /* Layout */
  visibility: visible;
}

/* Desktop */
@media screen and (min-width: 90em) {
  header {
    /* Box Model */
    padding: 0 6.25rem;
  }
  header #logo-podcast {
    /* Box Model */
    width: 2.25rem;
    margin: 1.375rem 0;
  }
  header input,
  header label {
    /* Layout */
    display: none;
  }
  header nav {
    /* Layout */
    position: static;
    /* Box Model */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1.625rem 0;
    padding: 0;
    /* Visual Properties */
    visibility: visible;
    background-color: #ffffff;
  }
  header nav ul {
    /* Layout */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav ul li {
    /* Box Model */
    padding: 0;
    margin-left: 3rem;
  }
  header nav ul li:first-of-type {
    /* Box Model */
    margin-left: 0;
  }
  header nav ul li a {
    /* Typograpphy */
    color: #060a24;
  }
}

#intro {
  /* Box Model */
  margin: 1.8125rem 1rem 1.5rem 1rem;
  /* 29px 16px 24px 16px */
}

#intro .strikethrough {
  /* Typography */
  text-decoration: line-through;
}

#intro p {
  /* Box Model */
  margin-bottom: 2.25rem;
}

#intro .desktop {
  display: none;
}

/* Desktop */
@media screen and (min-width: 90em) {
  #intro {
    /* Box Model */
    margin: 7.5rem 0 0.3125rem 11.25rem;
  }
  #intro h1 {
    /* Typography */
    font-size: 4rem;
    font-weight: 400;
  }
  #intro .title {
    /* Layout */
    display: none;
  }
  #intro .dot {
    /* Typography */
    color: #0000ec;
  }
  #intro .mobile {
    /* Layout */
    display: none;
  }
  #intro .desktop {
    /* Layout */
    display: block;
  }
  #intro p {
    /* Box Model */
    margin-bottom: 3.5rem;
  }
}

#section-episodios {
  padding: 4rem 0 8.96875rem 0;
  /* 143.5px */
  /* Visual Properties */
  background-color: #0000ff;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  -webkit-clip-path: polygon(0 2.65%, 100% 0%, 100% 97.35%, 0% 100%);
          clip-path: polygon(0 2.65%, 100% 0%, 100% 97.35%, 0% 100%);
}

#section-episodios h2 {
  /* Box Model */
  margin-bottom: 1.3125rem;
}

#section-episodios .container-iframes {
  width: 100%;
}

#section-episodios iframe {
  width: 93.125%;
  height: 14.5rem;
  margin-bottom: 0.6875em;
}

#section-episodios iframe:last-of-type {
  margin-bottom: 0;
}

#section-venimos {
  /* Box Model */
  width: 100%;
}

#section-venimos h2 {
  /* Layout */
}

#section-venimos h2 span {
  display: block;
}

#section-venimos p {
  /* Box Model */
  margin: 0.5rem 1rem;
}

#section-venimos p:last-of-type {
  margin-bottom: 3.375rem;
}

#section-venimos img {
  /* Layout */
  z-index: 2;
  /* Box Model */
  margin-top: -5.96875rem;
  width: 112.5%;
}

#section-invitadas {
  /* Box Model */
  width: 100%;
}

#section-invitadas .container-imgs {
  /* Box Model */
  margin-top: 0.875rem;
}

#section-invitadas img {
  /* Box Model */
  width: 100%;
}

#section-temas {
  /* Box Model */
  margin-top: 3rem;
}

#section-temas h2 {
  margin-bottom: 1.5rem;
}

#section-temas div {
  /* Box Model */
  margin-bottom: 3.25rem;
  /* Typography */
  text-align: center;
}

#section-temas div:first-of-type {
  margin-bottom: 2.25rem;
}

#section-temas div:last-of-type {
  margin-bottom: 2.625rem;
}

#section-temas div img {
  margin: 0.8125rem 0;
}

#section-temas div .subject {
  /* Typography */
  font-size: 1.5rem;
  font-weight: 600;
}

footer p {
  /*Box Model*/
  margin: 1.5rem 0 1rem 0;
  /* Typography */
  text-align: center;
}

footer .container-social {
  /* Layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Box Model */
  margin-bottom: 1.9375em;
}

#section-novedades {
  /* Box Model */
  padding: 0 1rem;
  /* Visual Properties */
  background-color: #0000ff;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  text-align: center;
}

#section-novedades h2 {
  /* Box Model */
  padding-top: 4rem;
}

#section-novedades button {
  /* Box Model */
  margin: 2.25rem 0 4.1875em 0;
}
/*# sourceMappingURL=styles.css.map */