/* Cleaning some default styles */
* {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General settings */
html {
  max-width: 100%;
  font-size: 16px;
  /* toRem(16px) = 16px */
}

body {
  color: #060a24;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.375rem;
  letter-spacing: 0;
}

h1 {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.625rem;
}

h2 {
  margin-left: 1rem;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.625rem;
}

a {
  text-decoration: none;
}

button {
  width: 100%;
  max-width: 18.75rem;
  padding: 0.8125rem 0;
  background-color: #00f3bb;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

i {
  color: #060a24;
}

p {
  font-size: 0.875rem;
}

figcaption {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

/* Classes */
.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mono {
  font-family: "IBM Plex Mono", monospace;
}

.light-font {
  color: #ffffff;
}

/* Desktop */
@media screen and (min-width: 90rem) {
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  button {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  button:hover {
    color: #ffffff;
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  }
  .container-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.625rem 1.1875rem 0.625rem 1rem;
  /* Burger menu functionality */
}

.Header .checkbox {
  position: absolute;
  opacity: 0;
}

.Header .times {
  position: absolute;
  top: 0.7rem;
  right: 1.3rem;
  opacity: 0;
}

.Header nav {
  display: inline-block;
  position: absolute;
  top: 2.75rem;
  left: 0;
  padding: 1rem 0 0 1rem;
  width: 100%;
  background-color: #0000ff;
  visibility: hidden;
}

.Header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: none;
}

.Header nav ul li {
  padding-bottom: 1.5rem;
}

.Header nav ul li a {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.75rem;
}

.Header nav ul li a:hover {
  color: #00f3bb;
  text-decoration: line-through;
  cursor: pointer;
  font-weight: 500;
}

.Header nav ul li a:active {
  color: rgba(6, 10, 36, 0.56);
}

.Header input[type="checkbox"]:checked ~ .bars {
  opacity: 0%;
}

.Header input[type="checkbox"]:checked ~ .times {
  opacity: 100%;
}

.Header input[type="checkbox"]:checked ~ nav {
  visibility: visible;
}

/* Desktop */
@media screen and (min-width: 90rem) {
  .Header {
    padding: 0 6.25rem;
  }
  .Header .Header-imageLogo {
    width: 2.25rem;
    margin: 1.375rem 0;
  }
  .Header input,
  .Header label {
    display: none;
  }
  .Header nav {
    position: static;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1.625rem 0;
    padding: 0;
    visibility: visible;
    background-color: #ffffff;
  }
  .Header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Header nav ul li {
    padding: 0;
    margin-left: 3rem;
  }
  .Header nav ul li:first-of-type {
    margin-left: 0;
  }
  .Header nav ul li a {
    color: #060a24;
  }
}

#intro {
  margin: 1.8125rem 1rem 1.5rem 1rem;
  /* 29px 16px 24px 16px */
}

#intro .strikethrough {
  text-decoration: line-through;
}

#intro p {
  margin-bottom: 2.25rem;
}

#intro .desktop {
  display: none;
}

/* Desktop */
@media screen and (min-width: 90rem) {
  #intro {
    margin: 7.5rem 0 0.3125rem 11.25rem;
  }
  #intro h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  #intro .title {
    display: none;
  }
  #intro .dot {
    color: #0000ec;
  }
  #intro .mobile {
    display: none;
  }
  #intro .desktop {
    display: block;
  }
  #intro p {
    margin-bottom: 3.5rem;
  }
}

#section-episodios {
  padding: 4rem 0 8.96875rem 0;
  background-color: #0000ff;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  -webkit-clip-path: polygon(0 2.65%, 100% 0%, 100% 97.35%, 0% 100%);
          clip-path: polygon(0 2.65%, 100% 0%, 100% 97.35%, 0% 100%);
}

#section-episodios h2 {
  margin-bottom: 1.3125rem;
}

#section-episodios .container-iframes {
  width: 100%;
}

#section-episodios iframe {
  width: 93.125%;
  height: 14.5rem;
  margin-bottom: 0.6875rem;
}

#section-episodios iframe:last-of-type {
  margin-bottom: 0;
}

/* Desktop */
@media screen and (min-width: 90rem) {
  #section-episodios {
    padding: 11.625rem 0 10.0375rem 0;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }
  #section-episodios .container-iframes {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 6.25rem;
  }
  #section-episodios h2 {
    margin: 0 0 1.625rem 12.5rem;
  }
  #section-episodios iframe {
    width: 47%;
    margin-bottom: 4.5rem;
  }
  #section-episodios iframe:last-of-type {
    margin-bottom: 4.5rem;
  }
}

#section-venimos {
  width: 100%;
}

#section-venimos h2 span {
  display: block;
}

#section-venimos p {
  margin: 0.5rem 1rem;
}

#section-venimos p:last-of-type {
  margin-bottom: 3.375rem;
}

#section-venimos img {
  z-index: 2;
  margin-top: -toRem(95.5px);
  width: 22.5rem;
}

/* Desktop */
@media screen and (min-width: 90rem) {
  #section-venimos h2 span {
    display: inline;
  }
  #section-venimos img {
    margin-top: -toRem(168.6px);
    width: 112.5%;
  }
  #section-venimos .container-text {
    display: inline-block;
  }
}

#section-invitadas {
  width: 100%;
}

#section-invitadas .container-imgs {
  margin-top: 0.875rem;
}

#section-invitadas img {
  width: 100%;
}

/* Desktop */
@media screen and (min-width: 90rem) {
  #section-invitadas h2 {
    margin: 0 0 2.25rem 12.5rem;
  }
  #section-invitadas img {
    width: calc(100% / 3);
  }
}

#section-temas {
  margin: 3rem 0 2.625rem 0;
}

#section-temas h2 {
  margin-bottom: 1.5rem;
}

#section-temas figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.25rem;
  text-align: center;
}

#section-temas figure:first-of-type {
  margin-bottom: 2.25rem;
}

#section-temas figure:last-of-type {
  margin-bottom: 0;
}

#section-temas figure img {
  margin: 0.8125rem 0;
}

/* Desktop */
@media screen and (min-width: 90rem) {
  #section-temas {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 4rem 12.5rem 2.125rem 12.5rem;
  }
  #section-temas figure {
    margin-bottom: 0;
  }
  #section-temas figure:first-of-type {
    margin-bottom: 0;
  }
  #section-temas span {
    display: block;
  }
}

footer {
  margin: 1.5rem 0 1.9375rem 0;
}

footer p {
  margin-bottom: 1rem;
  text-align: center;
}

footer .container-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Desktop */
@media screen and (min-width: 90rem) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2.25rem 6.25rem 1.9375rem 6.25rem;
  }
  footer p {
    margin: 0;
  }
  footer .container-social {
    width: 14.625rem;
  }
}

#section-novedades {
  padding: 0 1rem;
  background-color: #0000ff;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  text-align: center;
}

#section-novedades h2 {
  margin: 0;
  padding-top: 4rem;
}

#section-novedades button {
  margin: 2.25rem 0 4.1875rem 0;
}

/* Desktop */
@media screen and (min-width: 90rem) {
  #section-novedades {
    padding: 13.3125rem 0 9.4375rem 0;
    -webkit-clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
  }
}
/*# sourceMappingURL=styles.css.map */